/*
 * Your custom CSS goes here but before adding a lot of CSS check this out:
 *   https://tailwindcss.com/docs/extracting-components
*/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "flatpickr.css";

.flatpickr-day.selected {
  @apply bg-green-400 border-green-400
}

.phx-no-feedback .invalid-feedback, .phx-no-feedback .valid-feedback {
  display: none;
}

.show-while-submitting {
  visibility: hidden;
}
.hide-while-submitting {
  visibility: visible;
}


.phx-submit-loading
  .show-while-submitting {
    visibility: visible;
}

.phx-submit-loading
  .hide-while-submitting {
    visibility: hidden;
}

[x-cloak] { display: none !important; }

form label {
  @apply block text-sm font-medium text-gray-700
}

[type="text"],
[type="number"],
[type="password"],
[type="email"],
select
 {
  @apply shadow-sm focus:ring-green-500 focus:border-green-500 block w-full sm:text-sm border-gray-300 rounded-md
}

.invalid-feedback {
  @apply text-sm text-red-600 pl-2
}
