<!DOCTYPE html>
<html lang="en">
  <head>
    <%= live_title_tag assigns[:page_title] || "Budget Tracking Tool" %>
    <%= csrf_meta_tag() %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A production ready example Django app that's using Docker and Docker Compose.">

    <link rel="icon" type="image/svg+xml" href={Routes.static_path(@conn, "/images/favicon.svg")}>
    <link rel="alternate icon" href={Routes.static_path(@conn, "/favicon.ico")}>
    <link rel="mask-icon" href={Routes.static_path(@conn, "/images/favicon.svg")} color="#ff8a01">

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>

    <link rel="manifest" href={Routes.static_path(@conn, "/manifest.json")} />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%# INTER SANS SERIF %>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <%# JETBRAINS MONO %>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body phx-hook="focus_by_id" class="flex flex-col min-h-screen h-full justify-between">
  <div class="min-h-screen bg-gray-50 grid grid-rows-layout grid-cols-layout">

  <BudgetTrackingToolWeb.Components.Nav.render conn={@conn} current_user={@current_user} />

  <div class="pt-10">
    <%= @inner_content %>
  </div>
</div>
  </body>
</html>
