<!DOCTYPE html>
<html lang="en">
  <head>
    <%= live_title_tag assigns[:page_title] || "Budget Tracking Tool" %>
    <%= csrf_meta_tag() %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A production ready example Django app that's using Docker and Docker Compose.">

    <link rel="icon" type="image/svg+xml" href="<%= Routes.static_path(@conn, "/images/favicon.svg") %>">
    <link rel="alternate icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>">
    <link rel="mask-icon" href="<%= Routes.static_path(@conn, "/images/favicon.svg") %>" color="#ff8a01">

    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>"/>

    <link rel="manifest" href="<%= Routes.static_path(@conn, "/manifest.json") %>" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%# INTER SANS SERIF %>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <%# JETBRAINS MONO %>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
  </head>
  <body phx-hook="focus_by_id" class="flex flex-col min-h-screen h-full justify-between">
  <div class="min-h-screen bg-gray-50 grid grid-rows-layout">
  <nav x-data="{ mobileMenuOpen: false, userMenuOpen: false }" class="bg-white shadow-sm">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16">
        <div class="flex">
          <div class="hidden sm:-my-px sm:flex sm:space-x-8">
            <%= if @current_user do %>
              <%= ViewHelpers.route(@conn, "/", "Dashboard") %>
              <%= ViewHelpers.route(@conn, Routes.transaction_index_path(@conn, :index), "Transactions") %>
              <%= ViewHelpers.route(@conn, Routes.category_index_path(@conn, :index), "Categories") %>
              <%= ViewHelpers.route(@conn, Routes.book_index_path(@conn, :index), "Books") %>
            <% end %>
          </div>
        </div>
        <%= if @current_user do %>
          <div class="hidden sm:ml-6 sm:flex sm:items-center">
            <button class="bg-white p-1 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
              <span class="sr-only">View notifications</span>
              <!-- Heroicon name: outline/bell -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
              </svg>
            </button>

            <!-- Profile dropdown -->
            <div class="ml-3 relative">
              <div>
                <button @click="userMenuOpen = !userMenuOpen" @click.outside="userMenuOpen = false" type="button" class="bg-white flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                  <span class="sr-only">Open user menu</span>
                  <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                </button>
              </div>
              <div
                x-transition:enter="transition ease-out duration-100"
                x-transition:enter-start="transform opacity-0 scale-95"
                x-transition:enter-end="transform opacity-100 scale-100"
                x-transition:leave="transition ease-in duration-75"
                x-transition:leave-start="transform opacity-100 scale-100"
                x-transition:leave-end="transform opacity-0 scale-95"
                x-show="userMenuOpen"
                x-cloak
                class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                  <%= link "Settings", to: Routes.user_settings_path(@conn, :edit),  class: "hover:bg-gray-100 block px-4 py-2 text-sm text-gray-700", role: "menuitem", tabindex: "-1" %>
                  <%= link "Sign out", to: Routes.user_session_path(@conn, :delete), method: :delete,  class: "hover:bg-gray-100 block px-4 py-2 text-sm text-gray-700", role: "menuitem", tabindex: "-1" %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="flex items-center space-x-4">
            <%= ViewHelpers.route(@conn, Routes.user_registration_path(@conn, :new), "Register") %>
            <%= ViewHelpers.route(@conn, Routes.user_session_path(@conn, :new), "Login") %>
          </div>
        <% end %>
        <div class="-mr-2 flex items-center sm:hidden">
          <!-- Mobile menu button -->
          <button @click="mobileMenuOpen = !mobileMenuOpen" @click.outside="mobileMenuOpen = false" type="button" class="bg-white inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="h-6 w-6" :class="mobileMenuOpen ? 'hidden' : 'block'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <svg class="h-6 w-6" :class="mobileMenuOpen ? 'block' : 'hidden'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div x-cloak x-show="mobileMenuOpen" class="sm:hidden" id="mobile-menu">
      <div class="pt-2 pb-3 space-y-1">
        <%= if @current_user do %>
          <%= ViewHelpers.mobile_route(@conn, "/", "Dashboard") %>
          <%= ViewHelpers.mobile_route(@conn, Routes.transaction_index_path(@conn, :index), "Transactions") %>
          <%= ViewHelpers.mobile_route(@conn, Routes.category_index_path(@conn, :index), "Categories") %>
          <%= ViewHelpers.mobile_route(@conn, Routes.book_index_path(@conn, :index), "Books") %>
        <% end %>
      </div>
      <div class="pt-4 pb-3 border-t border-gray-200">
        <div class="flex items-center px-4">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          </div>
          <div class="ml-3">
            <div class="text-base font-medium text-gray-800">Tom Cook</div>
            <div class="text-sm font-medium text-gray-500">tom@example.com</div>
          </div>
          <button class="ml-auto bg-white flex-shrink-0 p-1 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            <span class="sr-only">View notifications</span>
            <!-- Heroicon name: outline/bell -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
          </button>
        </div>
        <div class="mt-3 space-y-1">
          <%= link "Settings", to: Routes.user_settings_path(@conn, :edit),  class: "block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100", role: "menuitem", tabindex: "-1" %>
          <%= link "Sign out", to: Routes.user_session_path(@conn, :delete), method: :delete,  class: "block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100", role: "menuitem", tabindex: "-1" %>
        </div>
      </div>
    </div>
  </nav>

  <div class="py-10">
    <%= @inner_content %>
  </div>
</div>
  </body>
</html>
