<div class="text-lg max-w-prose mx-auto">
  <h1>
    <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
      Hi <%= @addressee %>
    </span>
  </h1>
</div>
