<div>
<%= render "_salutation.html", addressee: @user.email %>
<p>
    You can reset your password by visiting the URL below:

    <%= @url %>

    If you didn't request this change, please ignore this.
</p>
</div>
